<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
							<input id="bannerId" name="bannerId" type="hidden" th:value="${banner.id}">
							<div class="form-group">
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" class="form-control" type="text" th:value="${banner.name}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">图片：</label>
								<div class="col-sm-8">
									<img style="width:300;height:300px;" th:src="${banner.image}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">选择图片：</label>
								<div class="col-sm-8">
									<input id="file" name="file" class="form-control" type="file">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">URL：</label>
								<div class="col-sm-8">
									<input id="url" name="url" class="form-control" type="text" th:value="${banner.url}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary" onclick="saveOrUpdate(0)">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/appjs/platform/banner/edit.js"></script>
</body>

</html>
