<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<title>铜川市公安局E起学法</title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="/portal/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/portal/js/banner.js"></script>
<style type="text/css">
	*{margin:0;padding:0;list-style-type:none;}
	a,img{border:0;}
	/* leftsead */
	#leftsead{width:131px;height:143px;position:fixed;top:258px;right:0px;}
	*html #leftsead{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
	#leftsead li{width:131px;height:53px;}
	#leftsead li img{float:right;border-bottom-left-radius:5px;border-top-left-radius:5px;}
	#leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:205px;}
	#leftsead li a .shows{display:block;}
	#leftsead li a .hides{margin-right:-166px;cursor:pointer;cursor:hand;}
	#leftsead li a.youhui .hides{display:none;position:absolute;right:216px;top:2px;}
</style>
</head>

<body>
<div class="header">
  <a href="/index"><img src="/portal/images/logo.jpg" /></a>
</div>
<div class="clear"></div>
<div class="nav">
  <div class="main">
    <ul>
      <li><a href="/index">首页</a></li>
      <li><a href="/index#part4">每日更新</a></li>
      <li><a href="/index#part4">学法动态</a></li>
      <li><a href="/index#part3">学习专区</a></li>
      <li><a href="/index#part3">练习专区</a></li>
      <li><a href="/index#part3">考试专区</a></li>
      <li><a href="/index#part5">学法公告</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="banner">
  <div class="b-img">
      <img src="/portal/images/banner1.jpg" width="100%"/>
      <img src="/portal/images/banner2.jpg" width="100%" />
      <img src="/portal/images/banner3.jpg" width="100%" />
  </div>
  <div class="clear"></div>
  <div class="b-list"> </div>
</div>
<div class="clear"></div>
<div class="detailbox">
  <div class="xq" id="xq">
    <div class="tit"></div>
    <div class="date"></div>
    <div class="con">
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="footer">
    <div class="main">
    <div class="footL">
      <img src="/portal/images/foot.png" />
    </div>
    <div class="footR">
	        联系电话：0919-2189550<br/>
	        联系地址：陕西省铜川市新区朝阳路铜川公安<br/>
	        版权所有：铜川市公安局
    </div>
    <div class="clear"></div>
    <div class="footbox">
      <div class="con">©2020 <a href="http://gaj.tongchuan.gov.cn/" target="_blank" style="color: #FFFFFF;">&nbsp;铜川市公安局</a></div>
    </div>
  </div>
</div>

<div id="leftsead">
	<ul>
	     <li>
			<a id="top_btn">
				<img src="/rightTool/images/foot03/ll06.png" width="47" height="49" class="hides"/>
				<img src="/rightTool/images/foot03/l06.png" width="47" height="49" class="shows" />
			</a>
		</li>
		<li>
			<a class="youhui">
				<img src="/rightTool/images/foot03/l03.png" width="47" height="49" class="shows" />
				<img src="/rightTool/images/foot03/ewm2.jpg" style="height: 320px !important;width: 131px !important;" class="hides" usemap="#taklhtml"/>
			</a>
		</li>
		<li>
			<a href="">
				<img src="/rightTool/images/foot03/ll02.png" width="166" height="49" class="hides"/>
				<img src="/rightTool/images/foot03/l04.png" width="47" height="49" class="shows" />
			</a>
		</li>
		<li>
			<a class="youhui">
				<img src="/rightTool/images/foot03/l02.png" width="47" height="49" class="shows" />
				<img src="/rightTool/images/foot03/ewm3.jpg" style="height: 151px !important;width: 131px !important;" class="hides" usemap="#taklhtml"/>
			</a>
		</li>
	</ul>
</div>
</body>
<script type="text/javascript">
	var param = window.location.href.split("?")[1];
	var id =  param.split("=")[1];
	
	$(function(){
		searchNotice();
	})
	function searchNotice(){
		$.ajax({
			cache : true,
			type : "POST",
			url : "/portal/lawappProclamationInfoById",
			data : {
				"id":id
			},
			async : false,
			error : function(request) {
				layer.alert("Connection error");
			},
			success : function(data) {
				var noticeName = data.noticeName;
				var createTime = data.createTime;
				var noticeContent = data.noticeContent;
				$(".xq .tit").append(noticeName);
				$(".xq .date").append("发表时间："+createTime);
				$(".xq .con").append(noticeContent);
			}
		});
	}
</script>
<script type="text/javascript">
$(document).ready(function(){

	$("#leftsead a").hover(function(){
		if($(this).prop("className")=="youhui"){
			$(this).children("img.hides").show();
		}else{
			$(this).children("img.hides").show();
			$(this).children("img.shows").hide();
			$(this).children("img.hides").animate({marginRight:'0px'},'slow'); 
		}
	},function(){ 
		if($(this).prop("className")=="youhui"){
			$(this).children("img.hides").hide('slow');
		}else{
			$(this).children("img.hides").animate({marginRight:'-143px'},'slow',function(){$(this).hide();$(this).next("img.shows").show();});
		}
	});

	$("#top_btn").click(function(){if(scroll=="off") return;$("html,body").animate({scrollTop: 0}, 600);});

});
</script>
</html>
